<style type="text/css">
.original_values,
.translated_values {
  float:left;
  margin: 10px 40px;
}
.label {
  margin: 0 10px;
}
</style>

<div class="original_values">
  <%= render :partial => 'translatable_value', :collection => untranslated_values_with_localized_labels -%>
</div>

<div class="translated_values">
  <%= form.error_messages %>

  <%= render :partial => 'translation_field', :collection => @translatable_class.translatable_attributes, :locals => { :form => form } -%>

  <%= form.hidden_field :locale  %>

  <p>
    <%= form.submit @button_text %>
  </p>
</div>
