<td class="translatable_label" valign="top" style="width: 10%; padding: 5px;">
  <%= form.label translation_field, localized_label_for(translation_field) %>
</td>
<td class="translatable_value" valign="top" style="padding: 5px;">
  <%= form.text_field translation_field %>
</td>
<td class="translatable_auto_translate" valign="top" style="font-size:0.8em;">
  <a href='#' onclick="if (getGoogleTranslation) {
    getGoogleTranslation(this.up('tr').down('.translatable_value').down('input').id,
                         '<%= escape_javascript(h(@original.send(translation_field.to_sym))) %>',
                         '<%= I18n.locale %>', '<%=h @translation.locale %>');
    return false;
  }" title='Auto Translate Using Google'>[auto translate]</a>
</td>
